.json-table {
    margin-top: 15px;
    border: 1px solid #e0e0e0;
}

.json-table__cell {
    box-sizing: border-box;
    width: 100%;
    min-width: 100px;
    max-width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    border-left: 1px solid #e0e0e0;
}

.json-table__cell-inner {
    box-sizing: border-box;
    width: 100%;
    padding: 0 8px;

    overflow: hidden;
    text-overflow: ellipsis;
}

.json-table__cell_first {
    border-left: none;
}

.json-table__cell-form {
    display: flex;
}

.json-table__cell-form-input {
    flex-grow: 1;
    min-width: 50px;
}

.json-table__cell-form-editor {
    flex-grow: 1;
    min-width: 30vw;
}

.json-table__cell-form-button {
    flex-grow: 0;
}
